/* Footer 样式 */
.footer {
  background-color: #f0d9e3;
  color: #474646;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  border-top: 1px solid #e0e0e0;
}

.footer a {
  color: #666;
  text-decoration: none;
  margin: 0 10px;

  .footer a:hover {
    color: #333;
  }
}
